.header {
  background-color: rgba(0, 255, 255, 0.623);
  text-align: center;
}

.login {
  margin-top: 20%;
  margin-left: 30%;
}

.field {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.tbl {
  border-collapse: collapse;
  margin-left: 10%;
}

.tbl td {
  width: 140px;
  padding-top: 5px;
  padding-left: 20px;
}

.hd {
  font-weight: bold;
}

.logout {
  margin-left: 50%;
  margin-top: 20%;
}
